@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<PTT> lista_ptt = (List<PTT>)ViewData["ptt"];
    List<Drzava> lista_drzava = (List<Drzava>)ViewData["drzava"];

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <h1>Unos Organizacije</h1>
    <form action="/SuperAdmin/Organizacija/UnosSnimi" enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td><label>PTT</label></td>
                <td>
                    <select name="ptt">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_ptt)
                        {
                            <option value="@x.PTT_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Država</label></td>
                <td>
                    <select name="drzava">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_drzava)
                        {
                            <option value="@x.Drzava_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Šifra</label></td>
                <td><input name="sifra" type="text" /></td>
            </tr>
            <tr>
                <td><label>Naziv</label></td>
                <td><input name="naziv" type="text" /></td>
            </tr>
            <tr>
                <td><label>Adresa</label></td>
                <td><input name="adresa" type="text" /></td>
            </tr>
            <tr>
                <td><label>Slika</label></td>
                <td>
                    @*<label style="border:15px solid green;" class="file-label">Browse...</label>*@
                    <input style="border:0px;" class="form-control file-input" name="slika" type="file" />
                </td>
            </tr>
            <tr>
                <td><label>Logo</label></td>
                <td>
                    @*<label style="border:15px solid green;" class="file-label">Browse...</label>*@
                    <input style="border:0px;" class="form-control file-input" name="logo" type="file" />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</center>