@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Korisnici_OrganizacionaJedinica> lista = (List<Korisnici_OrganizacionaJedinica>)ViewData["kor_org_jed"];
    
    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Korisnika - Organizacione jedinice</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="dugmad">
        <a class="btn btn-success" href="/AdminOrg/KorisnikOrg/Unos">Unesi novo</a>
        <div id="print_excel">
            <a href="/AdminOrg/KorisnikOrg/Excel" class="btn btn-info">Export to Excel</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Korisnik</th>
        <th>Organizaciona jedinica</th>
        <th>Akcija</th>
        </thead>
        @foreach (var x in lista)
        {
            <tr>
                <td>@(x.korisnici.Ime + " " + x.korisnici.Prezime)</td>
                <td>@x.organizacionaJedinica.Naziv</td>
                <td>
                    <a class="btn btn-primary" href="/AdminOrg/KorisnikOrg/Uredi?id=@x.Korisnici_OrganizacionaJedinica_ID">Uredi</a>
                    <a id="ukloni_@x.Korisnici_OrganizacionaJedinica_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                    <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.Korisnici_OrganizacionaJedinica_ID">Sigurni? <a href="/AdminOrg/KorisnikOrg/Ukloni?id=@x.Korisnici_OrganizacionaJedinica_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.Korisnici_OrganizacionaJedinica_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                    <script>
                            $("#poruka_@x.Korisnici_OrganizacionaJedinica_ID").hide();

                            $("#ukloni_@x.Korisnici_OrganizacionaJedinica_ID").click(function () {

                                $("#poruka_@x.Korisnici_OrganizacionaJedinica_ID").slideDown();
                            });

                            $("#no_@x.Korisnici_OrganizacionaJedinica_ID").click(function () {
                                $("#poruka_@x.Korisnici_OrganizacionaJedinica_ID").slideUp();
                            });
                    </script>
                </td>
            </tr>
        }
    </table>
</center>