@using WebApplication1.Models;
@{
    List<Drzava> lista = (List<Drzava>)ViewData["drzave"];
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

    

    <center>
        <h1>Prikaz Država</h1>
        <div id="dugmad">
            <div id="dodaj">
                <a href="/SuperAdmin/Drzava/Unos" class="btn btn-success">Dodaj novu</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <th>Šifra</th>
            <th>Naziv</th>
            <th>Akcija</th>
            </thead>
            <tbody>
                @foreach (var x in lista)
                {
                    <tr>
                        <td>@x.Sifra</td>
                        <td>@x.Naziv</td>
                        <td>
                            <a class="btn btn-primary" href="/SuperAdmin/Drzava/Uredi?id=@x.Drzava_ID">Uredi</a>

                            <a id="ukloni_@x.Drzava_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                            <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.Drzava_ID">Sigurni? <a href="/SuperAdmin/Drzava/Ukloni?id=@x.Drzava_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.Drzava_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                            <script>
                            $("#poruka_@x.Drzava_ID").hide();

                            $("#ukloni_@x.Drzava_ID").click(function () {

                                $("#poruka_@x.Drzava_ID").slideDown();
                            });

                            $("#no_@x.Drzava_ID").click(function () {
                                $("#poruka_@x.Drzava_ID").slideUp();
                            });
                            </script>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </center>
