@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<link rel="stylesheet" href="~/css/SuperUser/Drzava/Unos.css" />
<script src="~/js/SuperUser/Drzava/Unos.js"></script>

<center>
    <h1>Unos države</h1>

    <form method="post" action="/SuperAdmin/Drzava/UnosSnimi">
        <table>
            <tr>
                <td><label>Šifra</label></td>
                <td><input onkeypress="provjera('sfr')" onchange="provjera('sfr')" onblur="provjera('sfr')" id="sfr" type="text" name="sifra" /><span id="sifra_span"></span></td>
            </tr>
            <tr>
                <td><label>Naziv</label></td>
                <td><input onchange="provjera('n')" onblur="provjera('n')" onkeypress="provjera('n')" id="n" type="text" name="naziv" /><span id="naziv_span"></span></td>
            </tr>
        </table>

        <button type="submit" id="snimi" class="btn btn-primary">Snimi</button>

    </form>
</center>