@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    Drzava drzava = (Drzava)ViewData["uredi_drzava"];
}
<link rel="stylesheet" href="~/css/SuperUser/Drzava/Uredi.css"/>
<script src="~/js/SuperUser/Drzava/Uredi.js"></script>

<center>
    <h1>Uredi Državu</h1>
    <form method="post" action="/SuperAdmin/Drzava/UrediSnimi">
        <input hidden="hidden" name="id_drzava" value="@drzava.Drzava_ID" />
        <table>
            <tr>
                <td><label>Šifra</label></td>
                <td><input type="text" id="sfr" onkeypress="provjera('sfr')" onchange="provjera('sfr')" name="sifra" value="@drzava.Sifra" /><span id="sifra_span"></span></td>
            </tr>
            <tr>
                <td><label>Naziv</label></td>
                <td><input type="text" id="n" onkeypress="provjera('n')" onchange="provjera('n')" name="naziv" value="@drzava.Naziv" /><span id="naziv_span"></span></td>
            </tr>
        </table>
        <button type="submit" id="snimi" class="btn btn-primary">Snimi</button>
    </form>
</center>