@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@{

    List<PTT> lista = (List<PTT>)ViewData["ptt"];
}

<center>
    <h1>Prikaz PTT-ova</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/Admin/PTT/Unos">Dodaj novi</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Šifra</th>
        <th>Naziv</th>
        <th>Akcija</th>
        </thead>
        @foreach (var x in lista)
        {
            <tr>
                <td>@x.PTT_ID</td>
                <td>@x.Sifra</td>
                <td>@x.Naziv</td>
                <td><a href="/Admin/PTT/Ukloni?id=@x.PTT_ID" class="btn btn-danger">Ukloni</a></td>
            </tr>
        }
    </table>

</center>