<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <style>


        li, ul {
            list-style: none;
            margin-top: 5%;
        }

        ul{
            margin:0px;
            padding:0px;
            border:0px;
        }

        #sifarnik, #transakcije, #izvjestaji, #admin {
            font-weight: bold;
        }

        a {
            color: white;
            text-decoration-line: none;
        }

        #dodaj, #detalji, #print_preview, #print_excel, #print_pdf {
            display: inline-block;
            margin:2%;
        }
        #print_preview, #print_excel, #print_pdf{
            color:white;
        }
        #dugmad {
            margin-bottom: 2%;
            margin-top: 2%;
        }
        a:hover{
            color:white;
            text-decoration:none;
            text-decoration-line:none;
        }
        #kutijaZaMeni{
            position:fixed;
            height:100%;
            width:17%;
/*            background-color:green;*/
            display:block;
        }
         #menu {
            position: fixed;
            /*height: 65%;*/
            width: 15%;
            margin-left:0px;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            top: 20%;
            font-size: 1vw;
            border-radius: 0px 25px 25px 0px;
        }
    </style>
</head>
<body>
    <div id="kutijaZaMeni">
        <div id="menu">
            <br />
            <a style="color:white; text-decoration-line:none; font-size:120%;" href="/User/User/Index">Projektna Organizacija</a><br /><br />
            <ul>
                <li id="transakcije">Transakcije</li>
                <ul id="tra">
                    <li><a href="/User/ProjekatAktivnostPlan/Prikaz">Aktivnosti</a></li>
                </ul>
                <li id="izvjestaji">Izvještaji</li>
                <ul id="izv">
                    <li><a href="/User/ProjekatAktivnostRealizacija/Prikaz">Realizacija</a></li>
                </ul>

            </ul>
        </div>
    </div>
    <script>
        $(document.getElementsByTagName("li")).mousedown(function () {
            this.style.backgroundColor = "rgba(250, 90, 90, 0.8)";
            this.style.width = "100%";
            this.style.borderRadius = "0px 25px 25px 0px";
        });

        $(document.getElementsByTagName("li")).mouseleave(function () {
            this.style.backgroundColor = "rgb(51, 51, 51)";
            this.style.width = "100%";
            this.style.borderRadius = "0px";
        });

        $(document.getElementsByTagName("a")).mousedown(function () {
            this.style.color = "White";
        });
        //$(document.getElementsByTagName("li")).mouseup(function () {
        //    this.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
        //});
    </script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="User" asp-controller="User" asp-action="Index">Projektna organizacija</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>*@
                        <li class="nav-item">
                            <a class="btn" style="color:white; background-color:cornflowerblue" title="share on facebook" id="fb">Share on facebook</a>
                            <script>
                                $("#fb").click(function () {
                                    document.getElementById("fb").href = "http://www.facebook.com/sharer.php?u=" + document.URL;
                                    //document.getElementById("fb").href = "http://www.facebook.com/sharer.php?u=www.google.com";
                                });
                            </script>
                        </li>
                        <li class="nav-item">
                            <a style="color:white; background-color:orangered" class="btn" title="Log out" id="logOut" href="/Auth/Index">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="margin-left:17%; width:100%" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

</body>
</html>
