@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    List<Status> statusi = (List<Status>)ViewData["status"];
}
<center>
    <h1>Prikaz statusa</h1><br /><br />
    <a class="btn btn-success" href="/SuperAdmin/Status/Unos">Dodaj novi</a><br /><br />
    <table class="table">
        <thead>
        <th>Naziv</th>
        <th>Šifra</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in statusi)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>
                        <a class="btn btn-primary" href="/SuperAdmin/Status/Uredi?id=@x.StatusID">Uredi</a>
                        <a id="ukloni_@x.StatusID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.StatusID">Sigurni? <a href="/SuperAdmin/Status/Ukloni?id=@x.StatusID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.StatusID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.StatusID").hide();

                            $("#ukloni_@x.StatusID").click(function () {

                                $("#poruka_@x.StatusID").slideDown();
                            });

                            $("#no_@x.StatusID").click(function () {
                                $("#poruka_@x.StatusID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>