@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    Status stat = (Status)ViewData["status"];
}
<center>
    <h1>Uređivanje statusa</h1><br /><br />
    <form method="post" action="/SuperAdmin/Status/UrediSnimi">
        <input hidden="hidden" name="id" value="@stat.StatusID" />
        <table>
            <tr>
                <td>
                    <label>Naziv</label>
                </td>
                <td>
                    <input name="naziv" value="@stat.Naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Šifra</label>
                </td>
                <td>
                    <input name="sifra" value="@stat.Sifra" />
                </td>
            </tr>
        </table>
        <button class="btn btn-primary">Snimi</button>
    </form>
</center>