@using WebApplication1.Models;
@using Microsoft.AspNetCore.Http;
@model WebApplication1.Models.VM.uor

@{Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<center>
    <h1>Admin</h1><br />
    <h1>Meni</h1>

    <table>
        <tr>
            <td>Država</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/Drzava/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/Drzava/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Korisnici</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/Korisnik/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/Korisnik/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Korisnici - Organizaciona Jedinica</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/KorisnikOrg/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/KorisnikOrg/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Organizacija</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/Organizacija/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/Organizacija/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Organizaciona Jedinica</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/OrganizacionaJedinica/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/OrganizacionaJedinica/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Projekat Aktivnost Plan</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/ProjekatAktivnostPlan/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/ProjekatAktivnostPlan/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Projekat Aktivnost Realizacija</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/ProjekatAktivnostRealizacija/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/ProjekatAktivnostRealizacija/Unos">Unos</a></td>
            <td><a class="btn btn-warning" href="/SuperAdmin/ProjekatAktivnostRealizacija/Detalji">Detalji</a></td>
        </tr>
        <tr>
            <td>Projekat Plan</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/ProjekatPlan/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/ProjekatPlan/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>PTT</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/PTT/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/PTT/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Resursi</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/Resursi/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/Resursi/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Uloge</td>
            <td><a class="btn btn-primary" href="/SuperAdmin/Uloge/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/SuperAdmin/Uloge/Unos">Unos</a></td>
        </tr>
    </table>
</center>