@using WebApplication1.Models;
@model WebApplication1.Models.VM.lista_DetaljiRealizacijaVM 

<center>
    <h1>Detalji Realizacija</h1>
    <table class="table">
        <thead>
            <th>Korisnik</th>
        <th>Datum</th>
        <th>Ostvarena količina</th>
        <th>Opis</th>
        </thead>
        <tbody>
            @foreach (var x in Model.lista)
            {
                <tr>
                    <td>@x.korisnik</td>
                    <td>@(x.datum.Date.Day+"."+x.datum.Date.Month+"."+x.datum.Date.Year+".")</td>
                    <td>@x.kolicina</td>
                    <td>@x.opis</td>
                </tr>
            }
        </tbody>
    </table>
    <button id="sakrij" class="btn btn-primary">Sakrij</button>
    <script>
        $("#sakrij").click(function () {
            $("#sakrij").hide();
            $("#box").hide();
            $("#glavni").hide();
        });
    </script>
</center>