@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Uloge> lista = (List<Uloge>)ViewData["prikazUloga"];

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <h1>Prikaz Uloga</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/SuperAdmin/Uloge/Unos">Dodaj novu</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Šifra</th>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Sifra</td>
                    <td>@x.Naziv</td>
                    <td>@x.Opis</td>
                    <td>
                        <a type="submit" class=" btn btn-primary" href="/SuperAdmin/Uloge/Uredi?id=@x.Uloge_ID">Uredi</a>
                        <a id="ukloni_@x.Uloge_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.Uloge_ID">Sigurni? <a href="/SuperAdmin/Uloge/Obrisi?id=@x.Uloge_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.Uloge_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.Uloge_ID").hide();

                            $("#ukloni_@x.Uloge_ID").click(function () {

                                $("#poruka_@x.Uloge_ID").slideDown();
                            });

                            $("#no_@x.Uloge_ID").click(function () {
                                $("#poruka_@x.Uloge_ID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>