@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    Uloge uloga = (Uloge)ViewData["uloga"];
}
<center>
    <form method="post" action="/SuperAdmin/Uloge/UrediSnimi">
        <table>
            <tr>
                <td>
                    <label>Naziv</label>
                </td>
                <td>
                    <input type="text" name="naziv" value="@uloga.Naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Šifra</label>
                </td>
                <td>
                    <input type="text" name="sifra" value="@uloga.Sifra" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Opis</label>
                </td>
                <td>
                    <input style="width:600px;" type="text" name="opis" value="@uloga.Opis" />
                </td>
            </tr>
        </table>

        <button class="btn btn-primary">Snimi</button>
    </form>
</center>