@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    List<OrganizacionaJedinicaVM> lista_org_jed = (List<OrganizacionaJedinicaVM>)ViewData["lista_org_jed"];
    List<Status> stat_lista = (List<Status>)ViewData["statusi"];
}
<center>
    <h1>Unos Projektnog Plana</h1>
    <form method="post" action="/SuperAdmin/ProjekatPlan/UnosSnimi">
        <table>
            <tr>
                <td>
                    <label>
                        Organizaciona jedinica
                    </label>
                </td>
                <td>
                    <select name="organizacionaJedinica">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_org_jed)
                        {
                            <option value="@x.OrganizacionaJedinica_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Šifra
                    </label>
                </td>
                <td>
                    <input type="text" name="sifra" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Naziv
                    </label>
                </td>
                <td>
                    <input type="text" name="naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Datum od
                    </label>
                </td>
                <td>
                    <input type="datetime-local" name="Od" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Datum do
                    </label>
                </td>
                <td>
                    <input type="datetime-local" name="Do" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Status
                    </label>
                </td>
                <td>
                    <select name="status_id">
                        <option>---Odaberi---</option>
                        @foreach (var x in stat_lista)
                        {
                            <option value="@x.StatusID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Unesi</button>
    </form>
</center>