.loader {
    position: relative;
    border: 2.5vw solid #c2fdc5;
    border-top: 2.5vw solid #28a524;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#tekst_ucitava {
    position: relative;
    text-align: center;
    font-family: Agency FB;
    font-size: 5vw;
    font-weight: bold;
    width: 100%;
    margin: auto;
}

#tekst_i_animacija {
    position: absolute;
    height: 30%;
    width: 30%;
    margin-left: 25%;
    margin-top: 8vw;
}

#podloga {
    position: absolute;
    width: 70%;
    height: 100%;
    margin-top: 5%;
}
