@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    List<PTT> lista = (List<PTT>)ViewData["ptt"];
}
<center>
    <h1>Prikaz PTT-ova</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/SuperAdmin/PTT/Unos">Dodaj novi</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Naziv</th>
        <th>Šifra</th>
        <th>Akcija</th>
        </thead>
        @foreach (var x in lista)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>@x.Sifra</td>
                <td>
                    <a href="/SuperAdmin/PTT/Uredi?id=@x.PTT_ID" class="btn btn-primary">Uredi</a>
                    <a id="ukloni_@x.PTT_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                    <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.PTT_ID">Sigurni? <a href="/SuperAdmin/PTT/Ukloni?id=@x.PTT_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.PTT_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                    <script>
                            $("#poruka_@x.PTT_ID").hide();

                            $("#ukloni_@x.PTT_ID").click(function () {

                                $("#poruka_@x.PTT_ID").slideDown();
                            });

                            $("#no_@x.PTT_ID").click(function () {
                                $("#poruka_@x.PTT_ID").slideUp();
                            });
                    </script>
                </td>
            </tr>
        }
    </table>
</center>