@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <h1>Unos PTT-a</h1>
    <form action="/SuperAdmin/PTT/UnosSnimi">
        <table>
            <tr>
                <td>
                    Šifra
                </td>
                <td>
                    <input name="sifra" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    Naziv
                </td>
                <td>
                    <input name="naziv" type="text" />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</center>