@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    PTT ptt = (PTT)ViewData["uredi_ptt"];
}
<center>
    <h1>Uredi PTT</h1>
    <form method="post" action="/SuperAdmin/PTT/UrediSnimi">
        <input hidden="hidden" name="id_ptt" value="@ptt.PTT_ID" />
        <table>
            <tr>
                <td><label>Naziv</label></td>
                <td><input type="text" name="naziv" value="@ptt.Naziv" /></td>
            </tr>
            <tr>
                <td><label>Šifra</label></td>
                <td><input type="text" name="sifra" value="@ptt.Sifra" /></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Snimi</button>
    </form>
</center>