@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Resursi> lista = (List<Resursi>)ViewData["resursi"];

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <h1>Prikaz Resursa</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/SuperAdmin/Resursi/Unos">Dodaj novi</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Naziv</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>
                        <a id="ukloni_@x.Resursi_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.Resursi_ID">Sigurni? <a href="/SuperAdmin/Resursi/Ukloni?id=@x.Resursi_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.Resursi_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.Resursi_ID").hide();

                            $("#ukloni_@x.Resursi_ID").click(function () {

                                $("#poruka_@x.Resursi_ID").slideDown();
                            });

                            $("#no_@x.Resursi_ID").click(function () {
                                $("#poruka_@x.Resursi_ID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>