td {
    padding: 10px;
}

a, td {
    /*font-weight: bold;*/
    text-align-last: center;
}

.err {
    border: 2px solid red;
}

span {
    position: absolute;
    float: right;
    margin-left: 1%;
    background-color: indianred;
    color: white;
    font-weight: bold;
}