@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;

    string poruka = (string)TempData["poruka"];

}

<style>
    #login{
        border:1px solid black;
        width:60%;
        height:60%;
        margin-top:10%;
        background-color:rgba(0,0,0,0.5);
        border-radius:100px;
    }
    input {
        position: relative;
        width: 70%;
        height: 10%;
        border-radius: 100px;
        font-size: 2vw;
        text-align-last: center;
        border: 3px solid black;
    }
    label {
        color: white;
        font-family: Arial;
        font-size: 2vw;
        font-weight: bold;
    }
    #go{
        height:3.5vw;
        width:8vw;
        background-color:floralwhite;
        color:black;
        font-family:'Agency FB';
        border-radius:25px;
        font-size:2vw;
        font-weight:bold;
        border:3px solid black;
    }
</style>
<center>

    @if (poruka != null)
    {
        <br />
        <center>
            <span style="position:absolute;font-size:300%; background-color:orangered" id="msg">@poruka</span>
        </center>
        <script>
            $("#msg").slideDown().delay(1000).slideUp();
        </script>
    }

    <form id="login" method="post" action="/Auth/AuthProces">
        <div style="position:relative; margin-top:10%;">
            <label>Korisničko ime</label><br />
            <input type="text" name="username"></input><br />
            <label>Lozinka</label><br />
            <input type="password" name="pass"></input><br /><br />
        </div>
        <button class="btn btn-danger" id="go" type="submit">Prijavi se</button>
    </form>
</center>