@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    tr {
        /*border: 1px solid black;*/
    }

    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }
</style>
<center>
    <h1>Meni</h1>
    <table>
        <tr>
            <td>Država</td>
            <td><a class="btn btn-primary" href="/Drzava/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/Drzava/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Korisnici</td>
            <td><a class="btn btn-primary" href="/Korisnik/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/Korisnik/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Korisnici - Organizaciona Jedinica</td>
            <td><a class="btn btn-primary" href="/KorisnikOrg/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/KorisnikOrg/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Organizacija</td>
            <td><a class="btn btn-primary" href="/Organizacija/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/Organizacija/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Organizaciona Jedinica</td>
            <td><a class="btn btn-primary" href="/OrganizacionaJedinica/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/OrganizacionaJedinica/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Projekat Aktivnost Plan</td>
            <td><a class="btn btn-primary" href="/ProjekatAktivnostPlan/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/ProjekatAktivnostPlan/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Projekat Aktivnost Realizacija</td>
            <td><a class="btn btn-primary" href="/ProjekatAktivnostRealizacija/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/ProjekatAktivnostRealizacija/Unos">Unos</a></td>
            <td><a class="btn btn-warning" href="/ProjekatAktivnostRealizacija/Detalji">Detalji</a></td>
        </tr>
        <tr>
            <td>Projekat Plan</td>
            <td><a class="btn btn-primary" href="/ProjekatPlan/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/ProjekatPlan/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>PTT</td>
            <td><a class="btn btn-primary" href="/PTT/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/PTT/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Resursi</td>
            <td><a class="btn btn-primary" href="/Resursi/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/Resursi/Unos">Unos</a></td>
        </tr>
        <tr>
            <td>Uloge</td>
            <td><a class="btn btn-primary" href="/Uloge/Prikaz">Prikaz</a></td>
            <td><a class="btn btn-success" href="/Uloge/Unos">Unos</a></td>
        </tr>
    </table>
</center>