@using WebApplication1.Models;
@using WebApplication1.Models.VM;

@{
    List<Uloge> lista_uloge = (List<Uloge>)ViewData["uloge"];

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <h1>Unos Korisnika</h1>
    <form action="/SuperAdmin/Korisnik/UnosSnimi">
        <table>
            <tr>
                <td><label>Šifra</label></td>
                <td><input type="text" name="sifra" /></td>
            </tr>
            <tr>
                <td><label>Ime</label></td>
                <td><input type="text" name="ime" /></td>
            </tr>
            <tr>
                <td><label>Prezime</label></td>
                <td><input type="text" name="prezime" /></td>
            </tr>
            <tr>
                <td><label>Telefon</label></td>
                <td><input type="text" name="telefon" /></td>
            </tr>
            <tr>
                <td><label>Mail</label></td>
                <td><input type="text" name="mail" /></td>
            </tr>
            <tr>
                <td><label>Korisničko ime</label></td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td><label>Lozinka</label></td>
                <td><input type="password" name="lozinka" /></td>
            </tr>
            <tr>
                <td>
                    <label>Uloga</label>
                </td>
                <td>
                    <select name="uloga">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_uloge)
                        {
                            <option value="@x.Uloge_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Snimi</button>
    </form>
</center>