@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication1.Models.VM.uor
@{
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<style>
    tr {
        /*border: 1px solid black;*/
    }

    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }
</style>
<h1><b>USER</b></h1>
<center>
    <h1>Meni</h1>
    <table>
        <tr>
            <td>Projekat Aktivnost Plan</td>
            <td><a class="btn btn-primary" href="/User/ProjekatAktivnostPlan/Prikaz?u=@Model.userId&o=@Model.organisationId&r=@Model.roleId">Prikaz</a></td>
            <td><a class="btn btn-success" href="/User/ProjekatAktivnostPlan/Unos?u=@Model.userId&o=@Model.organisationId&r=@Model.roleId">Unos</a></td>
        </tr>
        <tr>
            <td>Projekat Aktivnost Realizacija</td>
            <td><a class="btn btn-primary" href="/User/ProjekatAktivnostRealizacija/Prikaz?u=@Model.userId&o=@Model.organisationId&r=@Model.roleId">Prikaz</a></td>
            <td><a class="btn btn-success" href="/User/ProjekatAktivnostRealizacija/Unos?u=@Model.userId&o=@Model.organisationId&r=@Model.roleId">Unos</a></td>
            <td><a class="btn btn-warning" href="/User/ProjekatAktivnostRealizacija/Detalji?u=@Model.userId&o=@Model.organisationId&r=@Model.roleId">Detalji</a></td>
        </tr>
    </table>
</center>